{% extends 'CodeMemeAdminBundle::layout.html.twig' %}

{% block header %}
    <h1>Home</h1>
{% endblock header %}


{% block content %}
    <!-- Groups -->
    {% for group in groups %}
    <ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="b">

        {{ block('group__row') }}

        {% for model in group.models %}
            {{ block('model__row') }}
        {% endfor %}
    
    </ul>
    {% endfor %}

    <!-- Groupless -->
    <ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="c">
        {% for model in models %}
            {% if not model.group %}
                {{ block('model__row') }}
            {% endif %}
        {% endfor %}
    </ul>
{% endblock content %}


{% block group__row %}
    <li data-role="list-divider" class="header">{{ group }}</tr>
{% endblock group__row %}


{% block model__row %}
    <li>
        <a href="{{ path('admin.list', { 'slug': model.slug }) }}">
            {{ model }}
            <span class="ui-li-count">{{ model.total }}</span>
        </a>
    </li>
{% endblock model__row %}