{% extends 'CodeMemeAdminBundle::layout.html.twig' %}

{% block content %}
<h2>
    <a href="{{ path('admin.home') }}">Home</a>
    &raquo;
    <a href="{{ path('admin.list', { 'slug': model.slug }) }}">
        {{ model }}
    </a>
    &raquo;
    {% if entity.id %}
        {{ entity }}
    {% else %}
        New {{ model }}
    {% endif %}
</h2>

<form action="{{ path('admin.edit', { 'slug': model.slug, 'id': entity.id }) }}" method="post" {{ form.enctype }}>

    {{ form.widget }}

    <input type="submit" />
</form>
{% endblock %}