{% extends 'CodeMemeAdminBundle::layout.html.twig' %}

{% block header %}
    <h1>
        {% if entity.id %}
            {{ entity }}
        {% else %}
            New {{ model }}
        {% endif %}
    </h1>
    <a href="{{ path('admin.home') }}" data-icon="home" data-iconpos="notext" data-direction="reverse">Home</a>
{% endblock header %}


{% block content %}
<form action="{{ path('admin.edit', { 'slug': model.slug, 'id': entity.id }) }}" method="post" {{ form.enctype }}>
    <ul data-role="listview" data-inset="true" data-theme="c" class="ui-body-d">
        {{ form.widget }}
    </ul>

    {% if entity.id %}
        <button type="submit" data-inline="true" data-theme="e" name="submit" data-icon="check">Save</button>
    {% else %}
        <button type="submit" data-inline="true" data-theme="e" name="submit" data-icon="add">Create</button>
    {% endif %}
    
</form>
{% endblock %}