{% extends 'CodeMemeAdminBundle::layout.html.twig' %}


{% block navigation %}
    <ul>
        <li>
            <a href="{{ path('admin.home') }}" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-right jqm-home">Home</a>
        </li>
        <li>&raquo;</li>

        <li>
            <a href="{{ path('admin.list', { 'slug': model.slug }) }}">
                {{ model }}
            </a>
        </li>
        <li>&raquo;</li>

        <li>
            {% if entity.id %}
                {{ entity }}
            {% else %}
                New {{ model }}
            {% endif %}
        </li>
    </ul>
{% endblock navigation %}


{% block content %}
<form action="{{ path('admin.edit', { 'slug': model.slug, 'id': entity.id }) }}" method="post" {{ form.enctype }}>
    <ul data-role="listview" data-inset="true" data-theme="c" class="ui-body-d">
        <li data-role="list-divider" class="header">
            {% if entity.id %}
                {{ entity }}
            {% else %}
                New {{ model }}
            {% endif %}
        </li>

        {{ form.widget }}
    </ul>

    {% if entity.id %}
        <button type="submit" data-inline="true" data-theme="e" name="submit" data-icon="check">Save</button>
    {% else %}
        <button type="submit" data-inline="true" data-theme="e" name="submit" data-icon="add">Create</button>
    {% endif %}
    
</form>
{% endblock %}