{% extends 'CodeMemeAdminBundle::layout.html.twig' %}

{% block content %}
<h2>
    <a href="{{ path('admin.home') }}">Home</a>
    &raquo;
    {{ model.label }}
</h2>

<ul>
    <li>
        <a href="{{ path('admin.new', { 'slug': model.slug }) }}">Add new {{ model }}</a>
    </li>
    {% for entity in entities %}
        <li>
            <a href="{{ path('admin.edit', { 'slug': model.slug, 'id': entity.id }) }}">
                {{ entity }}
            </a>
        </li>
    {% endfor %}
</ul>
{% endblock %}